
<div class="row" >
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" *ngFor="let user of users">
        <div class="card clickable" (click)='viewTodo(user)'>
            <div class="card-header">
                {{user.name}}
            </div>
            <div class="card-block">
                <div class="card-title">
                    <clr-icon shape="user"></clr-icon> {{user.name}} <br>
                    <clr-icon shape="envelope"></clr-icon> Email : {{user.email}}
                    <address>
                        <clr-icon shape="map-marker"></clr-icon>{{user.address.suite}}, {{user.address.street}},<br>
                        {{user.address.city}},<br>
                        {{user.address.zipcode}}.<br>
                    </address>
                </div>
                <!-- <div class="card-text">
                    <button type="button" class="btn btn-primary" (click)='viewTodo(user.id)'>View Todo</button>
                </div> -->
            </div>
        </div>
    </div>
  </div>